[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = {extras = ["fast"], version = "==2.20"}
aiohttp = {extras = ["speedups"], version = "==3.8.1"}
motor = "==2.5.1"

[dev-packages]

[requires]
python_version = "3.10"
